.DS_Store
Examples/.DS_Store

# Ignore raw inpute file, but track only tar zipped job output file
# job output file
Examples/ex_*_INPUT/*.txt
Examples/ex_*_INPUT/*.out
# job node file
Examples/ex_*_INPUT/nodes.*
# job parallel files for cross-correlation, which can be reproduced with running make_slurmbatch_parallel.jl
Examples/ex_*_INPUT/run_slurm
# temporal output directory
Examples/ex_*_OUTPUT
# Output for scaling of parallelization is tar zipped.
Utils/Scaling

# OUTPUT csv files will be archived in another cloud strage
OUTPUT*/*
OUTPUT_master.tar

# Post process
Post/ModelFit/data*
Post/ModelFit/figure*
Post/ModelFit/*_data
Post/ModelFit/_*
Post/ModelFit/code


.ipynb_checkpoints
__pycache__

Tutorial
Examples/archive*

Backup

# Temporarily ignore the subproject directories
Figures
Appx/appxdata
Appx/check_rawdata*
Appx/evaluation_*
Appx/plot_CCF
Appx/Scaling_Frontera
Appx/tremorsignal
Appx/validation_*



Figures
Post/CumulativeStrain
Post/DataAvailability/csv*
Post/DataAvailability/figure*
Pytags_PF_v00
Post/Spectrogram/PSD*
Post/Spectrogram/data
Post/Spectrogram/*.tar.gz
